<div class="product-card">
  <div class="content">
    <div *ngIf="product.isVideo()" class="thumbnail">
      <img class="thumbnail__image" [src]="product.thumbnail" alt="Product thumbnail"/>
      <tv-svg class="thumbnail__video-icon" icon="video-cam-white"></tv-svg>
    </div>

    <div *ngIf="!product.isVideo()" class="document">
      <div class="document__type">
        <tv-svg class="document__icon document__icon--{{product.type}}"
                [gradient]="product.type !== 'audio' ? 'doc' : 'audio'"
                [icon]="product.type"></tv-svg>
        <span class="document__type-name">{{product.type}}</span>
      </div>
    </div>
  </div>

  <div class="footer">
    <h4 class="footer__video-heading"
        [attr.title]="product?.heading.length <= 40 ? null : product.heading">{{product.heading | truncate:40}}</h4>

    <div class="footer__stats">
      <div class="item-price">
        <span class="item-price__amount">{{product.price}}</span>
        <span class="item-price__currency">{{product.currency}}</span>
      </div>
      <span class="footer__downloads">
      <span class="footer__downloads--count">{{product.downloadCount}}</span>
        <tv-svg class="footer__downloads--icon"
                icon="downloads"
                gradient="primary"></tv-svg>
    </span>
    </div>
  </div>
</div>
