<div class="product-card">
  <div class="content">
    <div *ngIf="product.isVideo()" class="thumbnail">
      <img class="thumbnail__image" [src]="product.thumbnail" alt="Product thumbnail"/>
      <svg class="thumbnail__video-icon">
        <use xlink:href="assets/icons/sprite.svg#icon-video-cam-white"></use>
      </svg>
    </div>

    <div *ngIf="!product.isVideo()" class="document">
      <div class="document__type">
        <svg class="document__icon document__icon--{{product.type}}">
          <use [attr.xlink:href]="'assets/icons/sprite.svg#icon-' + product.type"></use>
        </svg>
        <span class="document__type-name">{{product.type}}</span>
      </div>
    </div>
  </div>

  <div class="footer">
    <h4 class="footer__video-heading"
        [attr.title]="product?.heading.length <= 40 ? null : product.heading">{{product.heading | truncate:40}}</h4>

    <div class="footer__stats">
      <div class="item-price">
        <span class="item-price__amount">{{product.price}}</span>
        <span class="item-price__currency">{{product.currency}}</span>
      </div>
      <span class="footer__downloads">
      <span class="footer__downloads--count">{{product.downloadCount}}</span>
      <svg class="footer__downloads--icon">
        <use xlink:href="assets/icons/sprite.svg#icon-downloads"></use>
      </svg>
    </span>
    </div>
  </div>
</div>
