// Color palette
:root {
  --color-primary-1: #254176; // dark-slate-blue
  --color-primary-2: #1c3668; // dark-slate-blue-two
  --color-primary-3: #1f3a6e; // dark-slate-blue-three
  --color-primary-4: #223c6e; // dark-slate-blue-four

  --color-secondary-1: #e9edf0; // cloudy-blue light
  --color-secondary-2: #a7b5d2; // cloudy-blue
  --color-secondary-3: #8191b2; // blue grey
  --color-secondary-4: #375798; // denim-blue
  --color-secondary-5: #2a4986; // light-navy-blue

  --color-tertiary-1: #1d428b; // cobalt-1
  --color-tertiary-2: #193b7e; // cobalt-2
  --color-tertiary-3: #24417b; // dusk-blue

  --color-brownish-orange: #e28519; // brownish-orange
  --color-main-bg: #153064;
  --color-white: #fff;
  --color-black: #000;

  // Video player variables
  --plyr-color-main: var(--color-secondary-4);
  --plyr-range-thumb-height: 1rem;
  --plyr-range-track-height: .3rem;
  --plyr-range-fill-background: var(--color-white);

  // Header
  --header-height: 9.3rem;

  // Fonts
  --font-size-small-2: 1.3rem;
  --font-size-small-1: 1.4rem;
  --font-size-default: 1.6rem;
  --font-size-medium-1: 1.8rem;
  --font-size-medium-2: 1.9rem;
  --font-size-big: 2rem;
  --font-size-big-2: 2.1rem;

  // Spacing
  --spacing-xs: .4rem;
  --spacing-sm: .8rem;
  --spacing-md: 1.2rem;

  // Linear gradients
  --linear-gradient-secondary: linear-gradient(121deg, #e83866 -28%, #e83866 -21%, #e57a3c 55%, #e57a3c 75%);
  --linear-gradient-player: linear-gradient(315deg, var(--color-tertiary-2) 11%, rgba(250, 250, 248, .265) 35%, rgba(255, 255, 255, .24) 40%, rgba(255, 255, 255, .1) 45%, rgba(255, 255, 255, .1) 39%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 55%);
}
