<div class="viewer">
  <div class="buy">
    <span class="buy__text">تحميل / شراء</span>
    <div class="buy__icon-box">
      <tv-svg icon="cart-ellipse" class="buy__ellipse-shape" gradient="ellipse"></tv-svg>
      <tv-svg icon="cart" class="buy__cart-icon"></tv-svg>
    </div>
  </div>

  <div class="downloads">
    <span class="downloads__count">{{product.downloadCount}}</span>
    <tv-svg icon="downloads" class="downloads__icon" gradient="primary">
    </tv-svg>
  </div>

  <div class="info">
    <div class="info__type">
      <tv-svg class="info__icon"
              [gradient]="product.type !== 'audio' ? 'doc' : 'audio'"
              [icon]="product.type"></tv-svg>
      <span class="info__type-name">{{product.type}}</span>
    </div>

    <h2 class="info__heading">{{product.heading}}</h2>
    <div class="info__price">
      <span class="info__price--amount">{{product.price}}</span>
      <span class="info__price--currency">{{product.currency}}</span>
    </div>
  </div>
</div>
