<div class="viewer">
  <div class="buy">
    <span class="buy__text">تحميل / شراء</span>
    <div class="buy__icon-box">
      <svg class="buy__ellipse-shape">
        <use xlink:href="assets/icons/sprite.svg#icon-cart-ellipse"></use>
      </svg>
      <svg class="buy__cart-icon">
        <use xlink:href="assets/icons/sprite.svg#icon-cart"></use>
      </svg>
    </div>
  </div>

  <div class="downloads">
    <span class="downloads__count">{{product.downloadCount}}</span>
    <svg class="downloads__icon">
      <use xlink:href="assets/icons/sprite.svg#icon-downloads"></use>
    </svg>
  </div>

  <div class="info">
    <div class="info__type">
      <svg class="info__icon info__icon--{{product.type}}">
        <use [attr.xlink:href]="'assets/icons/sprite.svg#icon-' + product.type"></use>
      </svg>
      <span class="info__type-name">{{product.type}}</span>
    </div>

    <h2 class="info__heading">{{product.heading}}</h2>
    <div class="info__price">
      <span class="info__price--amount">{{product.price}}</span>
      <span class="info__price--currency">{{product.currency}}</span>
    </div>
  </div>
</div>
