<header class="header" [class.header--opened]="waitListOpened">
  <nav class="user-nav">
    <tv-svg class="user-nav__icon" icon="bell"></tv-svg>

    <div class="user-nav__user">
      <div class="user-nav__photo-shape">
        <tv-svg icon="profile" gradient="primary" class="user-nav__user-photo">
        </tv-svg>
      </div>
      <span class="user-nav__welcome-user">مرحباً بك </span>
      <span class="user-nav__user-name">مالك محمد</span>
    </div>
  </nav>

  <div class="waiting-list" (click)="emitClick()">
    <tv-svg class="waiting-list__right-arrow" icon="arrow-right"></tv-svg>
    <span class="waiting-list__waiting-count">١٤</span>
    <span class="waiting-list__waiting-text">قائمة الانتظار</span>
  </div>

  <div class="nav-menu" (click)="toggleSideNav()">
    <tv-svg class="nav-menu__icon" icon="nav-menu"></tv-svg>
  </div>
</header>
