<div class="intro" @fadeInUp>
  <div class="overview">
    <tv-text-scrollable-box>
      <ng-container paragraph>      هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي.هند الناهض مستشارة إعلام رقمي, مستشارة الإعلام الإلكتروني لمكتب وكيل وزارة الإعلام الكويتية وهي المؤسسة لشركة “سوشالوبي” للخدمات المختصة في مجال الإعلام الإجتماعي , بالإضافة الى إنها مستشارة في مجال التواصل الاجتماعي.</ng-container>
    </tv-text-scrollable-box>

    <div class="expertise">
      <h2 class="expertise__heading">الخبرات</h2>
      <div class="expertise__fields">
        <span class="tag">تطوير الأعمال</span>
        <span class="tag">المشاريع الصغيرة</span>
        <span class="tag">مشاركة العملاء</span>
        <span class="tag">الإعلام</span>
        <span class="tag">التحدث أمام الجمهور</span>
        <span class="tag">الدعاية والإعلان</span>
        <span class="tag">ريادة الأعمال</span>
        <span class="tag">القيادة</span>
        <span class="tag">التسويق الرقمي</span>
      </div>
    </div>
  </div>

  <div class="intro-video">
    <tv-video-player></tv-video-player>
  </div>
</div>
