<div class="course-item">
  <div class="course-item__thumbnail"
       [ngStyle]="{'background-image': 'url(assets/imgs/hind-nahed-course-4@2x.jpg)'}"
       (click)="navigate()">
    <div class="course-item__count-box">
      <span class="course-item__count">22 فيديو</span>
      <svg class="course-item__icon">
        <use xlink:href="assets/icons/sprite.svg#icon-video-cam-secondary"></use>
      </svg>
    </div>
  </div>

  <div class="course-item__footer">
    <h3 class="course-item__heading" (click)="navigate()">تعرف على أسرار صناعة المحتوى التسويقي الفعال</h3>
    <div class="item-price">
      <span class="item-price__amount">120</span>
      <span class="item-price__currency">دينار كويتي</span>
    </div>
  </div>
</div>
