.item-price {
  color: var(--color-secondary-3);

  &__amount {
    font-size: var(--font-size-medium-2);
    font-weight: bold;
    margin-left: .4rem;
    line-height: 1.59;
  }

  &__currency {
    font-size: var(--font-size-small-2);
    font-weight: 500;
    line-height: 1.54;
  }
}
