@import "../../../../assets/scss/abstracts/mixins";

:host {
  .text-scrollable-box {
    padding: 3rem;
    background-color: var(--color-secondary-5);
    border-radius: 5px;
    box-shadow: 0 .5rem 8.6rem 0 rgba(var(--color-black), .05);

    &__heading {
      &:not(:empty) {
        margin-bottom: 2rem;
      }
    }

    &__container {
      max-height: 30rem;
      padding: 0 1.5rem 0 1rem;
      overflow-y: scroll;
      direction: ltr;

      @include scrollbar;

      @include respond(tab-port) {
        max-height: initial;
        overflow-y: hidden;
        padding: 0;
      }
    }

    &__text {
      font-size: var(--font-size-default);
      line-height: 1.7;
      direction: rtl;
    }
  }
}
