<div class="clinic-header">
  <div class="right">
    <div class="icon-box">
      <svg class="icon-box__home">
        <use xlink:href="assets/icons/sprite.svg#icon-home"></use>
      </svg>
    </div>

    <div class="expert-info">
      <tv-expert-info></tv-expert-info>
    </div>

    <!-- Mobile -->
    <div class="mobile-nav">
      <div class="user-nav__notifications">
        <svg class="user-nav__icon">
          <use xlink:href="assets/icons/sprite.svg#icon-bell-white"></use>
        </svg>
        <span class="user-nav__badge"></span>
      </div>

      <div class="user-nav__photo-shape">
        <svg class="user-nav__user-photo">
          <use xlink:href="assets/icons/sprite.svg#icon-profile"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="left">
    <div class="tv-logo">
      <img src="assets/icons/tv-d-clinic-logo.png"
           srcset="assets/icons/tv-d-clinic-logo@2x.png 2x, assets/icons/tv-d-clinic-logo@3x.png 3x"
           class="tv-logo__photo" alt="Timeviewer digital clinic logo">
    </div>
  </div>
</div>
