<div class="clinic-header">
  <div class="right">
    <div class="icon-box">
      <svg class="icon-box__home">
        <image href="assets/icons/home.svg"></image>
      </svg>
    </div>

    <div class="expert-info">
      <tv-expert-info></tv-expert-info>
    </div>

    <!-- Mobile -->
    <div class="mobile-nav">
      <div class="user-nav__notifications">
        <svg class="user-nav__icon">
          <image href="assets/icons/bell-white.svg"></image>
        </svg>
        <span class="user-nav__badge"></span>
      </div>

      <div class="user-nav__photo-shape">
        <svg class="user-nav__user-photo">
          <image href="assets/icons/profile.svg"></image>
        </svg>
      </div>
    </div>
  </div>

  <div class="left">
    <div class="tv-logo">
      <img src="assets/icons/tv-d-clinic-logo.png"
           srcset="assets/icons/tv-d-clinic-logo@2x.png 2x, assets/icons/tv-d-clinic-logo@3x.png 3x"
           class="tv-logo__photo">
    </div>
  </div>
</div>
