<div class="courses" [@fadeInUp]="true">
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
  <div class="courses__item">
    <tv-course-item></tv-course-item>
  </div>
</div>
