@import "../../../../../assets/scss/abstracts/mixins";

:host {
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &__item {
      flex: 0 1 25%;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
