@import "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // Inherit border-box from body tag
  box-sizing: inherit;
}

html {
  font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  transition: font-size .3s;

  @include respond(tab-land) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include respond(tab-port) {
    font-size: 46.875%; // 1rem = 7.5px; 7.5px/16px = 46.875%
  }

  @include respond(big-desktop) {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  }

  &.opened {
    font-size: 50%;

    @include respond(tab-port) {
      font-size: 46.875%;
    }
  }
}

body {
  box-sizing: border-box;
}

svg {
  image {
    height: 100%;
    width: 100%;
  }
}

::selection {
  background-color: darken(#ea8955, 2%);
  color: var(--color-white);
}
