<div class="rating">
  <svg class="rating__icon-star">
    <image href="assets/icons/star-secondary.svg"></image>
  </svg>
  <svg class="rating__icon-star">
    <image href="assets/icons/star-secondary.svg"></image>
  </svg>
  <svg class="rating__icon-star">
    <image href="assets/icons/star-secondary.svg"></image>
  </svg>
  <svg class="rating__icon-star">
    <image href="assets/icons/star-secondary.svg"></image>
  </svg>
  <svg class="rating__icon-star">
    <image href="assets/icons/star.svg"></image>
  </svg>
</div>
