<div class="rating">
  <tv-svg class="rating__icon-star"
          [gradient]="'secondary'" [icon]="'star-secondary'"></tv-svg>
  <tv-svg class="rating__icon-star"
          [gradient]="'secondary'" [icon]="'star-secondary'"></tv-svg>
  <tv-svg class="rating__icon-star"
          [gradient]="'secondary'" [icon]="'star-secondary'"></tv-svg>
  <tv-svg class="rating__icon-star"
          [gradient]="'secondary'" [icon]="'star-secondary'"></tv-svg>
  <tv-svg class="rating__icon-star"
          [gradient]="'secondary'" [icon]="'star'"></tv-svg>
</div>
