<div class="rating">
  <svg class="rating__icon-star rating__icon-star--filled">
    <use xlink:href="assets/icons/sprite.svg#icon-star-secondary"></use>
  </svg>
  <svg class="rating__icon-star rating__icon-star--filled">
    <use xlink:href="assets/icons/sprite.svg#icon-star-secondary"></use>
  </svg>
  <svg class="rating__icon-star rating__icon-star--filled">
    <use xlink:href="assets/icons/sprite.svg#icon-star-secondary"></use>
  </svg>
  <svg class="rating__icon-star rating__icon-star--filled">
    <use xlink:href="assets/icons/sprite.svg#icon-star-secondary"></use>
  </svg>
  <svg class="rating__icon-star">
    <use xlink:href="assets/icons/sprite.svg#icon-star"></use>
  </svg>
</div>
