<div class="expert-media">
  <div class="info">
    <div class="info__photo-shape">
      <img class="info__photo-img" src="assets/imgs/profile-img.png" alt="Expert profile photo"
           srcset="assets/imgs/profile-img@2x.png 2x, assets/imgs/profile-img@3x.png 3x"/>
    </div>

    <div class="info__meta">
      <span class="info__digital">العيادة الرقمية</span>
      <div class="info__doctor">
        <span class="info__doctor-name">لـ د. هند الناهض</span>
      </div>
      <div class="info__rate">
        <tv-rating></tv-rating>
        <span class="info__rate-text">تقييم</span>
      </div>
    </div>
  </div>

  <div class="label label--secondary">
    <span>مشغول باستشارة</span>
  </div>
</div>
