.user-nav {
  &__notifications {
    position: relative;
    display: flex;
  }

  &__badge {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    padding: 1px;
    background-color: #e83866;
    border: 1.7px solid var(--color-primary-2);
    border-radius: 50%;
  }

  &__icon {
    height: 3.3rem;
    width: 2.7rem;
    cursor: pointer;

    @include respond(tab-port) {
      height: 4.5rem;
      width: 3.5rem;
    }
  }

  &__photo-shape {
    height: 4.5rem;
    width: 4.5rem;
    border: solid 2px var(--color-secondary-2);
    background-color: var(--color-secondary-1);
    box-shadow: 0 0 .5rem 0 rgba(var(--color-black, .16));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    cursor: pointer;

    @include respond(tab-port) {
      height: 6rem;
      width: 6rem;
      margin-right: 2rem
    }
  }

  &__user-photo {
    height: 2.8rem;
    width: 2.8rem;

    @include respond(tab-port) {
      height: 4.25rem;
      width: 4.25rem;
    }
  }
}
