<div class="main-layout" [class.main-layout--shifted]="waitListOpened">
  <div class="main-container">
    <tv-header (waitListClick$)="toggleListOpened()" (sideNavOpen$)="toggleSideNav()"></tv-header>

    <div class="content">
      <router-outlet></router-outlet>

      <div class="left-side-nav" [class.left-side-nav--opened]="sideNavOpened">
        <ul class="nav-list">
          <li class="nav-list__item nav-list__item--main">
            <a class="nav-list__link" href="#">الرئيسية</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">نبذه عنا</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">الخبراء</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">سؤال وجواب</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">اختبارات كورونا</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">اتصل بنا</a>
          </li>
          <li class="nav-list__item nav-list__item--join">
            <a class="nav-list__link" href="#">انضم كخبير</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="wait-list">
    <div class="wait-list__top">
      <h2 class="wait-list__heading">
        <span class="waiting-list__count">١٤</span>
        <span class="waiting-list__text">قائمة الانتظار</span>
      </h2>

      <ul class="wait-list__ul">
        <ng-container *ngFor="let user of users">
          <ng-container *ngTemplateOutlet="userInfoElement; context: {user: user}">
          </ng-container>
        </ng-container>
      </ul>
    </div>

    <div class="wait-list__footer">
      <div class="wait-list__rights">جميع الحقوق محفوظة</div>
      <div class="wait-list__owner">تايم فيوير © ٢٠١٣ - ٢٠٢٠</div>
      <div class="wait-list__social-accounts">
        <a href="#" class="wait-list__platform-link">
          <tv-svg class="wait-list__platform-icon" icon="instagram"></tv-svg>
        </a>
        <a href="#" class="wait-list__platform-link">
          <tv-svg class="wait-list__platform-icon" icon="facebook"></tv-svg>
        </a>
        <a href="#" class="wait-list__platform-link">
          <tv-svg class="wait-list__platform-icon" icon="twitter"></tv-svg>
        </a>
      </div>
    </div>

    <ng-template #userInfoElement let-user="user">
      <li class="wait-list__item" [class.wait-list__item--active]="user.active">
        <div class="wait-list__user-circle">
          <tv-svg class="wait-list__user-img" icon="user-bluegray" [gradient]="user.active ? 'user-active' : 'user'">
          </tv-svg>
        </div>
        <div class="wait-list__user-info">
          <span class="wait-list__since">{{user.since}}</span>
          <span class="wait-list__user-name">{{user.name}}</span>
        </div>
      </li>
    </ng-template>
  </div>

  <svg style="width:0; height:0; position:absolute;" aria-hidden="true" focusable="false">
    <linearGradient id="primary-linear-gradient" x1=".186" x2=".87" y1=".94" y2=".208" gradientUnits="objectBoundingBox">
      <stop offset=".067" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="secondary-linear-gradient" x1=".196" x2=".848" y1=".111" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e83866"/>
      <stop offset=".067" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
      <stop offset="1" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="doc-linear-gradient" x2="1" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e83866"/>
      <stop offset=".067" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
      <stop offset="1" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="audio-linear-gradient" x1=".5" x2=".5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset=".067" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="ellipse-linear-gradient" x2=".889" y1="-.036" y2="1.042" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e83866"/>
      <stop offset=".132" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
      <stop offset="1" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="camera-linear-gradient" x1="-.133" x2=".923" y1="-.151" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e83866"/>
      <stop offset=".067" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
      <stop offset="1" stop-color="#e57a3c"/>
    </linearGradient>

    <linearGradient id="user-linear-gradient" x1=".253" x2="1.038" y1="-.08" y2="1.11" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#d3dced"/>
      <stop offset="1" stop-color="#acc0d0"/>
    </linearGradient>

    <linearGradient id="user-active-linear-gradient" x2="1.183" y1="-.183" y2="1.732" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e83866"/>
      <stop offset=".117" stop-color="#e83866"/>
      <stop offset=".801" stop-color="#e57a3c"/>
      <stop offset="1" stop-color="#e57a3c"/>
    </linearGradient>
  </svg>
</div>
